$background: #1E1E2E;
$background-light: #2f2f40;
$background-dark: #07051A;
$foreground: #BAC2DE;
$foreground-dim: #535568;
$foreground-darker: #535568;
$black: #45475A;
$red: #F38BA8;
$red-dim: #e295a9;
$green: #A6E3A1;
$green-dim: #cad8c8;
$yellow: #F9E2AF;
$blue: #89B4FA;
$blue-light: #bce6ff;
$purple: #CBA6F7;
$cyan: #94E2D5;
$white: #BAC2DE;

$add-icon: $green;
$add-icon-hover: $green;
$add-icon-active: $background;
